@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  position: relative;

  /* for mobile */
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Releway";
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
  width: 100%;
}

a {
  color: #f85c37;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: inherit;
}

.navbar-inverse .navbar-brand {
  color: #319906;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#top {
  float: left;
  bottom: 0;
  cursor: pointer;
  display: none;
  font-size: 150%;
  position: fixed;
  right: 0;
}

#top img {
  width: 50px;
  height: auto;
  padding-bottom: 10px;
}

#headerwrap {
  background: url(../img/header.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 100px;
  color: #20b826;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2 {
  color: #44caed;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#about {
  width: 100%;
  background-color: #7090ee;
}

#about p {
  text-align: justify;
  text-indent: 20px;
  line-height: normal;
  color: #333333;
}

#about h2 {
  text-align: center;
  color: #e6e521;
}

#about img {
    width: 600px;
    height: 350px;
    border-radius: 5%;
    margin-bottom: 20px;
}

#about a {
  margin-bottom: 20px;
}

#service {
  padding-top:50px;
  background-color: #e0dfdf;
  width: 100%;
}

#Portfolio {
  width: 100%;
  padding-top:60px;
  padding-bottom: 60px;
  background-color: #ab639d;
}

#Portfolio img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

#c {
  width: 100%;
  padding-top:60px;
  padding-bottom: 50px;
}

#c img {
  width: 150px;
  height: auto;
}

#team {
  padding-top:60px;
  padding-bottom: 50px;
  background-color: #b3cdb4;
  width: 100%;
}

.lg img {
  width: 150px;
  height: auto;
}

.lg {
  background: #ededed;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.lg h4 {
  font-size: 20px;
  font-weight: 400;
}

.cli {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cli:hover {
  -webkit-transform: skewX(5deg);
  -moz-transform: skewX(5deg);
  -o-transform: skewX(5deg);
  -ms-transform: skewX(5deg);
  transform: skewX(5deg);
}

#n {
  padding-top:60px;
}

#n h2 {
  text-align: center;
  color: #4c18af;
}

#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4 {
  font-size: 30px;
}

#dg img {
  width: 300px;
  height: 100%;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

#wd {
  width: 100%;
  background-color: #f9fcaa;
}

#r {
  background: #ff7878;
  padding-top: 20px;
  padding-bottom: 20px;
}

#r h4 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

#r p {
  color: white;
}

#f {
  background: #2d2d2d;
  padding-top: 20px;
  padding-bottom: 10px;
}

#f i {
  color: #183fcf;
  font-size: 30px;
  padding: 20px;
}

#f i:hover {
  color: #9091f4;
}
